<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>

<hr>
<h3>Property binding</h3>
<input type="text" [value]="stringInterpolation">
<p [ngClass]="{redBorder: onTest()}">Is this is styled?</p>
<p [ngStyle]="{color: 'green'}">Is this is styled?</p>

<hr>
<h3>Custome Property Binding<h3>
<app-property-binding [result]="10"></app-property-binding>

<hr>
<h2>Event Binding</h2>
<app-event-binding (clickable)="onClicked($event)"></app-event-binding>

<hr>
<h2>Two Way Binding</h2>
<app-two-way-binding></app-two-way-binding>